<p>
  <strong>Code:</strong>
  <%= @lawyer.code %>
</p>
<p>
  <strong>Name:</strong>
  <%= @lawyer.name %>
</p>
<p>
  <strong>Experiance:</strong>
  <%= @lawyer.experiance %>
</p>
<p>
  <strong>Location:</strong>
  <%= @lawyer.location_id %>
</p>
<p>
  <strong>Average Rating:</strong>
  <%= @lawyer.average_rating %>
</p>
